.DS_Store
node_modules
data/player/*.json
data/account/*.json
data/bug/*.txt
data/banned.json
*.swp
coverage/
*.logs
*.log
*.debug
gulpTODO.md
log/*.log
!log/.gitkeep

# ignore api.ai key
bundles/ranvier-npc-behaviors/APIAIKEY
