.DS_Store
node_modules
bundles/snakelines-*
data/area/*.json
data/player/*.json
!data/player/Admin.json
data/account/*.json
!data/account/Admin.json
data/bug/*.txt
*.swp
coverage/
*.logs
*.log
*.debug
gulpTODO.md
log/*.log
!log/.gitkeep

# ignore api.ai key
bundles/ranvier-npc-behaviors/APIAIKEY
deploy.sh
public/assets/sl/*
